LaboProgAppWA2_1/src/wsdl/localhost_9128/webservices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor/" name="webserverService">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor/" schemaLocation="http://localhost:9128/webservices?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarCurso">
<part name="arg0" type="xsd:string"/>
</message>
<message name="buscarCursoResponse">
<part name="return" type="tns:dataCursos"/>
</message>
<message name="findusu">
<part name="arg0" type="xsd:string"/>
</message>
<message name="findusuResponse">
<part name="return" type="tns:dataUsuario"/>
</message>
<message name="buscarEdicion">
<part name="arg0" type="xsd:string"/>
</message>
<message name="buscarEdicionResponse">
<part name="return" type="tns:edicionCurso"/>
</message>
<message name="obtenerApellido">
<part name="arg0" type="xsd:int"/>
</message>
<message name="obtenerApellidoResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="obtenerConvocados">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerConvocadosResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="logear">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="logearResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="obtenerIsntituto">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerIsntitutoResponse">
<part name="return" type="tns:instituto"/>
</message>
<portType name="webserver">
<operation name="buscarCurso">
<input wsam:Action="http://servidor/webserver/buscarCursoRequest" message="tns:buscarCurso"/>
<output wsam:Action="http://servidor/webserver/buscarCursoResponse" message="tns:buscarCursoResponse"/>
</operation>
<operation name="findusu">
<input wsam:Action="http://servidor/webserver/findusuRequest" message="tns:findusu"/>
<output wsam:Action="http://servidor/webserver/findusuResponse" message="tns:findusuResponse"/>
</operation>
<operation name="buscarEdicion">
<input wsam:Action="http://servidor/webserver/buscarEdicionRequest" message="tns:buscarEdicion"/>
<output wsam:Action="http://servidor/webserver/buscarEdicionResponse" message="tns:buscarEdicionResponse"/>
</operation>
<operation name="obtenerApellido">
<input wsam:Action="http://servidor/webserver/obtenerApellidoRequest" message="tns:obtenerApellido"/>
<output wsam:Action="http://servidor/webserver/obtenerApellidoResponse" message="tns:obtenerApellidoResponse"/>
</operation>
<operation name="obtenerConvocados">
<input wsam:Action="http://servidor/webserver/obtenerConvocadosRequest" message="tns:obtenerConvocados"/>
<output wsam:Action="http://servidor/webserver/obtenerConvocadosResponse" message="tns:obtenerConvocadosResponse"/>
</operation>
<operation name="logear" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/webserver/logearRequest" message="tns:logear"/>
<output wsam:Action="http://servidor/webserver/logearResponse" message="tns:logearResponse"/>
</operation>
<operation name="obtenerIsntituto">
<input wsam:Action="http://servidor/webserver/obtenerIsntitutoRequest" message="tns:obtenerIsntituto"/>
<output wsam:Action="http://servidor/webserver/obtenerIsntitutoResponse" message="tns:obtenerIsntitutoResponse"/>
</operation>
</portType>
<binding name="webserverPortBinding" type="tns:webserver">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="buscarCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"/>
</output>
</operation>
<operation name="findusu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"/>
</output>
</operation>
<operation name="buscarEdicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"/>
</output>
</operation>
<operation name="obtenerApellido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"/>
</output>
</operation>
<operation name="obtenerConvocados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"/>
</output>
</operation>
<operation name="logear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"/>
</output>
</operation>
<operation name="obtenerIsntituto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"/>
</output>
</operation>
</binding>
<service name="webserverService">
<port name="webserverPort" binding="tns:webserverPortBinding">
<soap:address location="http://localhost:9128/webservices"/>
</port>
</service>
</definitions>