LaboProgAppWA/src/wsdl/localhost_9128/webservices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servidor/">

<xs:complexType name="edicionCurso">
<xs:sequence>
<xs:element name="cupo" type="xs:int"/>
<xs:element name="curso" type="tns:curso" minOccurs="0"/>
<xs:element name="fechaPublicacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="inscripcion" type="tns:inscripcion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pfin" type="xs:dateTime" minOccurs="0"/>
<xs:element name="pinicio" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="curso">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="inscripcion">
<xs:sequence>
<xs:element name="alumno" type="tns:alumno" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence>
<xs:element name="inscripcion" type="tns:inscripcion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="usuario" abstract="true">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="NN" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>