LaboProgAppWA/src/wsdl/localhost_9128/webservices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servidor/">

<xs:complexType name="dataUsuario">
<xs:sequence>
<xs:element name="usuarios" type="tns:usuario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="FechaNac" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario" abstract="true">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="FechaNac" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCursos">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:int"/>
<xs:element name="cantHoras" type="xs:int"/>
<xs:element name="Creditos" type="xs:int"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="cat" type="tns:categoria" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Previas" type="tns:curso" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="doc" type="tns:docente" minOccurs="0"/>
<xs:element name="instituto" type="tns:instituto" minOccurs="0"/>
<xs:element name="cursos" type="tns:curso" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="curso">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:int"/>
<xs:element name="cantHoras" type="xs:int"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="Creditos" type="xs:int"/>
<xs:element name="cat" type="tns:categoria" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Previas" type="tns:curso" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="doc" type="tns:docente" minOccurs="0"/>
<xs:element name="instituto" type="tns:instituto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="docente">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence>
<xs:element name="instituto" type="tns:instituto" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="instituto">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="Facultad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inscripcion">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="Alu" type="tns:alumno" minOccurs="0"/>
<xs:element name="nota" type="xs:int"/>
<xs:element name="EdicionCurso" type="tns:edicionCurso" minOccurs="0"/>
<xs:element name="Fecha" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence>
<xs:element name="inscripciones" type="tns:inscripcion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="edicionCurso">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Pinicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="Pfin" type="xs:dateTime" minOccurs="0"/>
<xs:element name="cupo" type="xs:int"/>
<xs:element name="fechaPublicacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="inscr" type="tns:inscripcion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Curso" type="tns:curso" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataInscripcion">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="Alu" type="tns:alumno" minOccurs="0"/>
<xs:element name="EdicionCurso" type="tns:edicionCurso" minOccurs="0"/>
<xs:element name="Fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="inscripciones" type="tns:inscripcion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataInstituto">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="Facultad" type="xs:string" minOccurs="0"/>
<xs:element name="institutos" type="tns:instituto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCategoria">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="categorias" type="tns:categoria" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataEdiciones">
<xs:sequence>
<xs:element name="cupo" type="xs:int"/>
<xs:element name="curso" type="tns:curso" minOccurs="0"/>
<xs:element name="ediciones" type="tns:edicionCurso" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fechaPublicacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="inscripcion" type="tns:inscripcion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pfin" type="xs:dateTime" minOccurs="0"/>
<xs:element name="pinicio" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>